/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter';
    --accent-font: 'PressStart2P';
    --main-font-weight: 400;
    --bold-font-weight: 700;
    --back-color: #FFF;
    --accent-color: #000; 
    --back-img-color: #d3d3d3;
    --back-img-color-bottom-start: #e7e7e7;
    --back-img-color-bottom-end: #1a1a1a;
    --like-color: #FFF;
}